@import "mocha.css";
window#waybar {
    background-color: rgba(0,0,0,0);
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

#workspaces {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  padding-left: 0px;
  background-color: @base;
  border-radius: 5;
}

#workspaces button {
  color: @text;
  padding: 0px 0px;
}

#workspaces button:hover {
  color: @green;
  border-radius: 0%;
}

#workspaces button.focused {
  color: @blue;
  border-radius: 0%;
}

#workspaces button.urgent {
  padding: 0 5px;
  color: @red;
  border-radius: 0%;
}

tooltip {
  color: @text;
  background-color: @base;
}
@keyframes blink{
  to{
    color: @red;
  }
  8%{
    color: @peach;
  }
  16%{
    color: @yellow;
  }
  25%{
    color: @green;
  }
  33%{
    color: @teal;
  }
  41%{
    color: @sky;
  }
  50%{
    color: @blue;
  }
  58%{
    color: @sapphire;
  }
  66%{
    color: @lavender;
  }
  75%{
    color: @mauve;
  }
  83%{
    color: @flamingo;
  }
  91%{
    color: @pink;
  }
}

#custom-music {
  animation-name: blink;
  animation-duration: 10s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  animation-direction:normal;
}

#clock {
    color: @text;
}
#custom-clock {
  color: @text;
}

#memory {
  color: @text;
}
#custom-weather {
  color: @text;
}
#network {
  color: @text;
}

#cpu {
    color: @text;
}
#temperature {
  color: @text;
}
#custom-crypto {
  color: @text;
}

#custom-power {
  color: @red;
  padding: 0 10px;
  margin-right: 5px;
}

